<div class = "jumbotron">
	<h3>UX Blog.</h3>
<p>This is a collection of posts, resources, and tutorials created by <a href="http://www.github.com/irisyuan">Iris Yuan</a> as she learns from ground zero. Hope it helps other UX-newbies!</p>
</div>