<div class="jumbotron center">
	
	<% if user_signed_in? %>
          CMS Here...
    <% else %>
    <h2>UX Resources</h2>
	<p>A quick series of UX tutorials. Sign in to curate your favorites..</p>
		
  	<% end %>  
</div>