/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#content {
  margin-top:20px;
}

@media (min-width: 40rem) {
  html { font-size: 112%; }
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}

.container {
  margin: 0 auto;
  max-width: 53rem;
  width: 90%;
}

/* Lists
   ========================================================================== */

ul {
  margin-top:30px;
  text-align: left;
}

ul, li {
   list-style-type: none;
}

@media (min-width: 40rem) {
  ul { display: inline-block; }
}


/* Box Model
   ========================================================================== */

.box-model h1 { margin-bottom: 3rem; }

.margin { color: #f9cd9d; }
.border { color: #fce08f; }
.padding { color: #c2ddb6; }
.content { color: #F20CA2; }

/* Utilities
   ========================================================================== */

.remove-padding { padding-bottom: 0; }
.remove-border { border: none; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Layout
   ========================================================================== */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "Lato", sans-serif;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 40rem) {
  html { font-size: 112%; }
}

@media (min-width: 64rem) {
  html { font-size: 120%; }
}

.container {
  margin: 0 auto;
  max-width: 53rem;
  width: 90%;
}

/* Intro & Header
   ========================================================================== */

.intro { margin: 15rem 0; }

@media (min-width: 300rem) {
  .intro { margin: 30rem 0; }
}

.mobile {
  margin: 0 auto;
  max-width: 150px;
}

@media (min-width: 40rem) {
  .mobile { max-width: 250px; }
}

/* Header
   ========================================================================== */

header {
  padding:0px;
}

.intro { 
  margin: 0.625rem 0; 
}

@media (min-width: 12rem) {
  .intro { margin: 0.625rem 0; }
}

.mobile {
  margin: 0 auto;
  max-width: 150px;
}

@media (min-width: 40rem) {
  .mobile { max-width: 250px; }
}

/* Section
   ========================================================================== */

section {
  border-top: 1px solid #eee;
  text-align: center;
}

section:first-of-type { border-top: none; }

@media (min-width: 40rem) {
  section { padding: 2rem 0; }
}

/* Mobile First Grid
   ========================================================================== */

.column { margin-bottom: 1.5rem; }

@media (min-width: 40rem) {
  .column {
    float: left;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .column.full { width: 100%; }
  .column.two-thirds { width: 66.7%; }
  .column.half { width: 50%; }
  .column.third { width: 33.3%; }
  .column.fourth { width: 25%; }
  .column.flow-opposite { float: right; }
}

/* Typography
   ========================================================================== */

h1, h2, h3, h4, h5 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 1.3rem;
  line-height: 1.3em;
}

@media (min-width: 40rem) {
  h1 { font-size: 2.5rem; }
}

blockquote { margin: 0; }

blockquote p {
  color: #bbb;
  font-style: italic;
  margin-bottom: 1.5rem;
}

cite { color: #bbb; }

/* Buttons
   ========================================================================== */

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #E0E0E0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  color: #fff;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover {
  background: #5183b6;
  text-decoration: none;
}

@media (min-width: 40rem) {
  .button {
    display: inline-block;
    font-size: 0.9rem;
  }
}

/* Elements
   ========================================================================== */

hr {
  border: 0;
  border-top: 1px solid #ddd;
  margin: 2rem auto;
  width: 3rem;
}

@media (min-width: 40rem) {
  hr { margin: 2.5rem auto; }
}

hr.small { margin: 1.5rem auto; }

img {
  display: block;
  height: auto;
  margin: 0 auto 1.5rem auto;
  width: 100%;
}

.rwd {
  margin: 0 auto 1.5rem auto;
  max-width: 440px;
}