body {
  font-size:14px/1.5;
  font-family:'Droid Sans';
  background-color:#f0f0f0;
}
header{
  text-transform:uppercase;
  text-align:center;
  position:relative;
  border-bottom:1.5px solid #E0E0E0;
  margin-bottom:20px;
}
header p {
  padding:30px;
  font-size:28px;
}
section {
  padding:50px;
}
p.icon {
  margin-bottom:60px;
  color:#555;
  font-size:12px;
  font-weight:bold;
  text-align:center;
}
img {
  max-width: 200px;
  min-width:150px;
}
img:hover {
  border:5px solid #FF69B4;
}
